.Outer-box{
    border-color: black;
    padding:13px;
    background-color: rgb(230, 213, 240);
    height: 165px;
    width: 85%;
}
.Inner-box{
    padding-left: 6px;
    background-color:white;
    border-left: 8px solid green;
    height:70px;
    width: 80%;
}
.button{
    background-color:green;
    border-radius: 8px;
    color:white;
    padding:10px;
    border:none;
}